In [1]:
#What column to merge on?

import pandas as pd
taxi_owners = pd.read_pickle('datasets/chicago_taxi_owners.p')
taxi_veh = pd.read_pickle('datasets/chicago_taxi_vehicles.p')

#Chicago provides a list of taxicab owners and vehicles licensed to operate within the city, for public safety. Your goal is to
#merge two tables together. One table is called taxi_owners, with info about the taxi cab company owners, and one is called
#taxi_veh, with info about each taxi cab vehicle. Both the taxi_owners and taxi_veh tables have been loaded for you and you can
#explore them in the console.

#Choose the column you would use to merge the two tables on using the .merge() method.

print(taxi_owners.head())
print(taxi_owners.shape)
print('\n')
print(taxi_veh.head())
print(taxi_veh.shape)

#on='rid'

#on='vid'*

#on='year'

#on='zip'

     rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618
(3519, 5)


    vid    make   model  year fuel_type                owner
0  2767  TOYOTA   CAMRY  2013    HYBRID       SEYED M. BADRI
1  1411  TOYOTA    RAV4  2017    HYBRID          DESZY CORP.
2  6500  NISSAN  SENTRA  2019  GASOLINE       AGAPH CAB CORP
3  2746  TOYOTA   CAMRY  2013    HYBRID  MIDWEST CAB CO, INC
4  5922  TOYOTA   CAMRY  2013    HYBRID       SUMETTI CAB CO
(3519, 6)

In [2]:
#Your first inner join

#You have been tasked with figuring out what the most popular types of fuel used in Chicago taxis are. To complete the analysis,
#you need to merge the taxi_owners and taxi_veh tables together on the vid column. You can then use the merged table along with
#the .value_counts() method to find the most common fuel_type.

#Since you'll be working with pandas throughout the course, the package will be preloaded for you as pd in each exercise in this
#course. Also the taxi_owners and taxi_veh DataFrames are loaded for you.

# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on = 'vid')

# Print the column names of the taxi_own_veh
print(taxi_own_veh.columns)
print('\n')

# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own', '_veh'))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)
print('\n')

# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

Index(['rid', 'vid', 'owner_x', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_y'],
      dtype='object')


Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')


HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64

In [3]:
#Inner joins and number of rows returned

import pandas as pd
wards = pd.read_pickle('datasets/chicago_wards.p')
wards_altered = pd.read_pickle('datasets/chicago_wards.p')
wards_altered.loc[wards_altered['ward'] == '1', 'ward'] = '61'
census = pd.read_pickle('datasets/chicago_census.p')
census_altered = pd.read_pickle('datasets/chicago_census.p')
census_altered.loc[census_altered['ward'] == '1', 'ward'] = None

#All of the merges you have studied to this point are called inner joins. It is necessary to understand that inner joins only
#return the rows with matching values in both tables. You will explore this further by reviewing the merge between the wards
#and census tables, then comparing it to merges of copies of these tables that are slightly altered, named wards_altered, and
#census_altered. The first row of the wards column has been changed in the altered tables. You will examine how this affects the
#merge between them. The tables have been loaded for you.

#For this exercise, it is important to know that the wards and census tables start with 50 rows.

# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)
print('\n')

# Print the first few rows of the wards_altered table to view the change 
print(wards_altered[['ward']].head())
print('\n')

# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on='ward')

# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)
print('\n')

# Print the first few rows of the census_altered table to view the change 
print(census_altered[['ward']].head())
print('\n')

# Merge the wards and census_altered tables on the ward column
wards_census_altered = wards.merge(census_altered, on='ward')

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

wards_census table shape: (50, 9)


  ward
0   61
1    2
2    3
3    4
4    5


wards_altered_census table shape: (49, 9)


   ward
0  None
1     2
2     3
3     4
4     5


wards_census_altered table shape: (49, 9)

In [4]:
#One-to-many classification

#Understanding the difference between a one-to-one and one-to-many relationship is a useful skill. In this exercise, consider a
#set of tables from an e-commerce website. The hypothetical tables are the following:

    #A customer table with information about each customer
    #A cust_tax_info table with customers unique tax IDs
    #An orders table with information about each order
    #A products table with details about each unique product sold
    #An inventory table with information on how much total inventory is available to sell for each product

#Select the relationship type that is most appropriate for the relationship between the different tables: One-to-one, or
#One-to-many.

                    #One-to-one                                                              One-to-many
#The relationship between customer and cust_tax_info                        #The relationship between customer and orders
#The relationship between products and inventory                            #The relationship between products and orders

In [5]:
#One-to-many merge

import pandas as pd
licenses = pd.read_pickle('datasets/chicago_business_licenses.p')
biz_owners = pd.read_pickle('datasets/chicago_business_owners.p')

#A business may have one or multiple owners. In this exercise, you will continue to gain experience with one-to-many merges by
#merging a table of business owners, called biz_owners, to the licenses table. Recall from the video lesson, with a one-to-many
#relationship, a row in the left table may be repeated if it is related to multiple rows in the right table. In this lesson,
#you will explore this further by finding out what is the most common business owner title. (i.e., secretary, CEO, or vice
#president)

#The licenses and biz_owners DataFrames are loaded for you.

# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on='account')

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

# Sort the counted_df in desending order
sorted_df = counted_df.sort_values(by='account', ascending=False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

In [6]:
#Total riders in a month

import pandas as pd
cal = pd.read_pickle('datasets/cta_calendar.p')
ridership = pd.read_pickle('datasets/cta_ridership.p')
stations = pd.read_pickle('datasets/cta_stations.p')

#Your goal is to find the total number of rides provided to passengers passing through the Wilson station
#(station_name == 'Wilson') when riding Chicago's public transportation system on weekdays (day_type == 'Weekday') in July
#(month == 7). Luckily, Chicago provides this detailed data, but it is in three different tables. You will work on merging these
#tables together to answer the question. This data is different from the business related data you have seen so far, but all the
#information you need to answer the question is below.

#The cal, ridership, and stations DataFrames have been loaded for you. The relationship between the tables can be seen in the
#diagram below.

<img src = "cta_L_diagram.png">

In [7]:
# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
                                  .merge(stations, on='station_id')

# Create a filter to filter ridership_cal_stations
filter_criteria = ((ridership_cal_stations['month'] == 7) 
                   & (ridership_cal_stations['day_type'] == 'Weekday') 
                   & (ridership_cal_stations['station_name'] == 'Wilson'))

# Use .loc and the filter to select for rides
print(ridership_cal_stations.loc[filter_criteria, 'rides'].sum())

140005

In [8]:
#Three table merge

import pandas as pd
zip_demo = pd.read_pickle('datasets/chicago_demographics_by_zip_code.p')

#To solidify the concept of a three DataFrame merge, practice another exercise. A reasonable extension of our review of Chicago
#business data would include looking at demographics information about the neighborhoods where the businesses are. A table with
#the median income by zip code has been provided to you. You will merge the licenses and wards tables with this new
#income-by-zip-code table called zip_demo.

#The licenses, wards, and zip_demo DataFrames have been loaded for you.

# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo, on='zip') \
                            .merge(wards, on='ward')

# Print the results by alderman and show median income
print(licenses_zip_ward.groupby('alderman').agg({'income':'median'}))

                           income
alderman
Ameya Pawar                 66246
Anthony A. Beale            38206
Anthony V. Napolitano       82226
Ariel E. Reyboras           41307
Brendan Reilly             110215
Brian Hopkins               87143
Carlos Ramirez-Rosa         66246
Carrie M. Austin            38206
Chris Taliaferro            55566
Daniel "Danny" Solis        41226
David H. Moore              33304
Deborah Mell                66246
Debra L. Silverstein        50554
Derrick G. Curtis           65770
Edward M. Burke             42335
Emma M. Mitts               36283
George Cardenas             33959
Gilbert Villegas            41307
Gregory I. Mitchell         24941
Harry Osterman              45442
Howard B. Brookins, Jr.     33304
James Cappleman             79565
Jason C. Ervin              41226
Joe Moore                   39163
John S. Arena               70122
Leslie A. Hairston          28024
Margaret Laurino            70122
Marty Quinn                 67045
Matthew J. O'Shea           59488
Michael R. Zalewski         42335
Michael Scott, Jr.          31445
Michelle A. Harris          32558
Michelle Smith             100116
Milagros "Milly" Santiago   41307
Nicholas Sposato            62223
Pat Dowell                  46340
Patrick Daley Thompson      41226
Patrick J. O'Connor         50554
Proco "Joe" Moreno          87143
Raymond A. Lopez            33959
Ricardo Munoz               31445
Roberto Maldonado           68223
Roderick T. Sawyer          32558
Scott Waguespack            68223
Susan Sadlowski Garza       38417
Tom Tunney                  88708
Toni L. Foulkes             27573
Walter Burnett, Jr.         87143
William D. Burns           107811
Willie B. Cochran           28024

In [9]:
#One-to-many merge with multiple tables

import pandas as pd
land_use = pd.read_pickle('datasets/chicago_land_use.p')

#In this exercise, assume that you are looking to start a business in the city of Chicago. Your perfect idea is to start a
#company that uses goats to mow the lawn for other businesses. However, you have to choose a location in the city to put your
#goat farm. You need a location with a great deal of space and relatively few businesses and people around to avoid complaints
#about the smell. You will need to merge three tables to help you choose your location. The land_use table has info on the
#percentage of vacant land by city ward. The census table has population by ward, and the licenses table lists businesses by
#ward.

#The land_use, census, and licenses tables have been loaded for you.

# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                       .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'], 
                                   as_index=False).agg({'account':'count'})

# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(['vacant', 'account', 'pop_2010'], 
                                             ascending=[False, True, False])

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())

   ward  pop_2010  vacant  account
47    7     51581      19       80
12   20     52372      15      123
1    10     51535      14      130
16   24     54909      13       98
7    16     51954      13      156