In [1]:
import pandas as pd
score = pd.read_csv('datasets/score.csv')

#Consider the Pandas DataFrame score below. Drop the rows where any of the row values are NaN.

print(score, '\n')

#Complete the code to return the output

print(score.dropna())

      id  math  physics
0  101.0  90.0     88.0
1  102.0   NaN     89.0
2    NaN   NaN      NaN

      id  math  physics
0  101.0  90.0     88.0

In [2]:
import pandas as pd
measure = pd.read_csv('datasets/measure.csv')

#Consider the Pandas DataFrame measure below. Keep the column Name and convert the column Height to rows.

print(measure, '\n')

#Complete the code to return the output

import pandas as pd

df = pd.melt(measure, id_vars = 'Name', value_vars = 'Height')

print(df)

    Name  Height  Weight
0  Nancy      65     120
1  Henry      71     165
2   Alan      68     160
3    Bob      73     170

    Name variable  value
0  Nancy   Height     65
1  Henry   Height     71
2   Alan   Height     68
3    Bob   Height     73

In [3]:
import pandas as pd
df1 = pd.read_csv('datasets/df1.csv')

#Consider the Pandas DataFrame df below. Replace all NaN values with the value 80.

print(df1, '\n')

#Complete the code to return the output

print(df1.fillna(80))

     id  score
0  7134   75.0
1  4020   94.0
2  6757    NaN
3  2561   91.0
4  6875    NaN

     id  score
0  7134   75.0
1  4020   94.0
2  6757   80.0
3  2561   91.0
4  6875   80.0

In [4]:
import pandas as pd
data = pd.read_csv('datasets/data.csv')

#Consider the Pandas DataFrame data below. Identify the missing values.

print(data, '\n')

#Complete the code to return the output

import numpy as np
import pandas as pd

print(data.isna())

        bmi      country   year
0  21.48678  Afghanistan  Y1980
1       NaN      Albania  Y1980
2  21.46552  Afghanistan  Y1981
3       NaN      Albania  Y1981

     bmi  country   year
0  False    False  False
1   True    False  False
2  False    False  False
3   True    False  False

In [5]:
#You have asked some students in your class why it is useful to be able to manipulate strings. You now want to find common
#themes in the responses, but they have used a mixture of upper and lower case. Convert the example string to lower case.

#Complete the code to return the output

text = "Manipulating Strings is Useful for Text analysis"

text = text.lower()

print(text)

manipulating strings is useful for text analysis

In [6]:
file_name = 'datasets/movies.csv'

#The movies.csv file is previewed below. Import the data as a pandas DataFrame. The filename has been set for you in the object
#file_name.

with open(file_name, 'r') as file:
    print(file.read(), '\n')

#Complete the code to return the output

import pandas as pd

movies = pd.read_csv(file_name)

print(movies.head())

reviewer,film,score
a,Casino Royale,10
b,Casino Royale,2
c,Casino Royale,5
a,Despicable Me,4
b,Despicable Me,9

  reviewer           film  score
0        a  Casino Royale     10
1        b  Casino Royale      2
2        c  Casino Royale      5
3        a  Despicable Me      4
4        b  Despicable Me      9

In [7]:
import pandas as pd
df2 = pd.read_csv('datasets/df2.csv')

#Consider the Pandas DataFrame df below. Convert the columns math and chemistry from wide to long format.

print(df2, '\n')

#Complete the code to return the output

import pandas as pd

df2 = pd.melt(df2, id_vars = 'id', value_vars = ['math', 'chemistry'])

print(df2)

   id  math  chemistry
0  12    85         88
1  13    88         86
2  14    90         91
3  15    85         90

   id   variable  value
0  12       math     85
1  13       math     88
2  14       math     90
3  15       math     85
4  12  chemistry     88
5  13  chemistry     86
6  14  chemistry     91
7  15  chemistry     90

In [8]:
file_name = 'datasets/jobs.csv'

#A friend sent you an unprocessed .csv file containing Data Science skills data that was scraped from a job listing website.

#You're unsure of the structure of the data so import only the first 4 rows to help you decide how to proceed.

#Complete the code to return the output

import pandas as pd

job_listings = pd.read_csv(file_name, index_col=0, nrows= 4)

print(job_listings.head().transpose())

                                                        0  \
skills  Business Intelligence/nArtificial Intelligence...
roles   Immediate opening For Data Scientist/Data Analyst

                                                        1  \
skills  IT Skills/nJava/nPython/nTesting/nCloud/nBig D...
roles          Associate NLP & Text Mining Data Scientist

                                                        2  \
skills  Pytorch/nTensorflow/nCnn/nRnn/nNLP/nSpacy/nMac...
roles            Trainer - Data Scientist/ AIML Engineer:

                                                        3
skills  IT Skills/nJava/nPython/nTesting/nData Science...
roles                         Data Scientist/Data Analyst

In [9]:
import pandas as pd
jobs = pd.read_csv('datasets/jobs.csv')

#A friend sent you an unprocessed .csv file containing Data Science skills data that was scraped from a job listing website.

#Convert the text in the roles column of the jobs DataFrame to lower case.

print(jobs.head(), '\n')

#Complete the code to return the output

import pandas as pd

jobs['roles'] = jobs['roles'].str.lower()
print(jobs['roles'].head())

                                              skills  \
0  Business Intelligence/nArtificial Intelligence...
1  IT Skills/nJava/nPython/nTesting/nCloud/nBig D...
2  Pytorch/nTensorflow/nCnn/nRnn/nNLP/nSpacy/nMac...
3  IT Skills/nJava/nPython/nTesting/nData Science...
4  NLP/nAlgorithms/nBusiness Analytics/nData Scie...

                                               roles
0  Immediate opening For Data Scientist/Data Analyst
1         Associate NLP & Text Mining Data Scientist
2           Trainer - Data Scientist/ AIML Engineer:
3                        Data Scientist/Data Analyst
4              Data Scientist - Machine Learning/NLP

0    immediate opening for data scientist/data analyst
1           associate nlp & text mining data scientist
2             trainer - data scientist/ aiml engineer:
3                          data scientist/data analyst
4                data scientist - machine learning/nlp
Name: roles, dtype: object

In [10]:
#The food.xlsx Excel file contains multiple sheets. Read the salad sheet into a pandas DataFrame.

#Complete the code to return the output

import pandas as pd

filename = "datasets/food.xlsx"

df = pd.read_excel(filename, "salad")
print(df)

            Item Serving Size  Calories
0   Korean Salad       7,9 oz       140
1  Chicken Salad         9 oz       380
2    Greek Salad       8.1 oz       140

In [11]:
import pandas as pd
rest_manhattan = pd.read_csv('datasets/rest_manhattan.csv')
rest_brooklyn = pd.read_csv('datasets/rest_brooklyn.csv')

#Consider the two Pandas DataFrame rest_manhattan and rest_brooklyn below, respectively. Combine their rows into a single
#DataFrame.

print(rest_manhattan, '\n') 
print(rest_brooklyn, '\n') 

#Complete the code to return the output

import pandas as pd

df = pd.concat([rest_manhattan, rest_brooklyn])

print(df)

               name   cuisine
0           Nom Wah   Chinese
1  midnight express  American

          name  cuisine
0  Bagel World   Bagels
1   Enzo Pizza  Italian

               name   cuisine
0           Nom Wah   Chinese
1  midnight express  American
0       Bagel World    Bagels
1        Enzo Pizza   Italian

In [12]:
import numpy as np
import pandas as pd

data = pd.Series([1, np.nan, 3])
print(data.isna())

0    False
1     True
2    False
dtype: bool

In [13]:
import pandas as pd
restaurant = pd.read_csv('datasets/restaurant.csv')
location = pd.read_csv('datasets/location.csv')

#Consider the Pandas DataFrames restaurant and location below, respectively. Combine their columns into a single DataFrame.

print(restaurant, '\n')
print(location, '\n')

#Complete the code to return the output

import pandas as pd

df = pd.concat([restaurant, location], axis = 1)

print(df)

               name   cuisine
0           Nom Wah   Chinese
1  midnight express  American
2        Enzo Pizza   Italian

     borough
0  Manhattan
1  Manhattan
2   Brooklyn

               name   cuisine    borough
0           Nom Wah   Chinese  Manhattan
1  midnight express  American  Manhattan
2        Enzo Pizza   Italian   Brooklyn

In [14]:
email = 'TEAM@DATACAMP.com'

#An email address is stored in a variable named email. Change the case of email to lower case.

#Complete the code to return the output

print(email.lower())

team@datacamp.com

In [15]:
#Consider the dataset contained in data.txt below. Load the file as a single data type object using numpy.

with open('datasets/data.txt', 'r') as f:
    print(f.read(), '\n')

#Complete the code to return the output

import numpy as np

data = np.loadtxt("datasets/data.txt", delimiter="\t", dtype="int")

print(data)

0	1
34	17800
22	2800
33	3500
44	1450

[[    0     1]
 [   34 17800]
 [   22  2800]
 [   33  3500]
 [   44  1450]]

In [16]:
import pandas as pd
jobs = pd.read_csv('datasets/jobs.csv')

#A friend sent you an unprocessed .csv file containing Data Science skills data that was scraped from a job listing website.

#You have imported the file and notice that all the skills have been stored in one column separated by \n.

#Split the skills column of the jobs DataFrame into individual columns.

print(jobs, '\n')

#Complete the code to return the output

import pandas as pd

skills = jobs.skills.str.split("/n", expand=True)
print(skills)

                                              skills  \
0  Business Intelligence/nArtificial Intelligence...
1  IT Skills/nJava/nPython/nTesting/nCloud/nBig D...
2  Pytorch/nTensorflow/nCnn/nRnn/nNLP/nSpacy/nMac...
3  IT Skills/nJava/nPython/nTesting/nData Science...
4  NLP/nAlgorithms/nBusiness Analytics/nData Scie...

                                               roles
0  Immediate opening For Data Scientist/Data Analyst
1         Associate NLP & Text Mining Data Scientist
2           Trainer - Data Scientist/ AIML Engineer:
3                        Data Scientist/Data Analyst
4              Data Scientist - Machine Learning/NLP

                       0                        1  \
0  Business Intelligence  Artificial Intelligence
1              IT Skills                     Java
2                Pytorch               Tensorflow
3              IT Skills                     Java
4                    NLP               Algorithms

                             2                3                 4  \
0  Natural Language Processing  Neural Networks       Data Mining
1                       Python          Testing             Cloud
2                          Cnn              Rnn               NLP
3                       Python          Testing      Data Science
4           Business Analytics   Data Scientist  Machine Learning

                  5                 6             7
0  Machine Learning     Deep Learning           SQL
1          Big Data               AWS         Azure
2             Spacy  Machine Learning  Scikit-Learn
3               AWS           Tableau         Azure
4     Deep Learning            Python

In [17]:
import pandas as pd
plants1 = pd.read_csv('datasets/plants1.csv')

#Some mistakes were made during data entry of plant inventory for Green Friend Nursery. There are leading spaces in the
#water_requirement column of the plants DataFrame. Remove the leading spaces from all entries in the column.

print(plants1, '\n')

#Complete the code to return the output

import pandas as pd

plants1['water_requirement'] = plants1['water_requirement'].str.strip()
print(plants1.head())

       name       binomial name water_requirement
0   ALFREDO  Monstera Deliciosa        moderate
1  ISABELLA  Calathea Orbifolia          moderate
2     MARTY               Areca             high
3     OLLIE    Alocasia Zebrina              high
4    HOWERD          Kentiapalm          moderate

       name       binomial name water_requirement
0   ALFREDO  Monstera Deliciosa          moderate
1  ISABELLA  Calathea Orbifolia          moderate
2     MARTY               Areca              high
3     OLLIE    Alocasia Zebrina              high
4    HOWERD          Kentiapalm          moderate

In [18]:
#Using the appropriate pandas function, convert the list l to a datetime object

#Complete the code to return the output

import pandas as pd

l = ['2012-01-01 091234','2012-01-01 091234']
print(pd.to_datetime(l))

DatetimeIndex(['2012-01-01 09:12:34', '2012-01-01 09:12:34'], dtype='datetime64[ns]', freq=None)

In [19]:
import pandas as pd
user_xp = pd.read_csv('datasets/user_xp.csv')

#The user_xp DataFrame contains the user_id, xp and status of users of an online games platform. The status variable is should
#be a categorical variable with 5 levels (bronze, silver, gold, platinum, diamond) but the .info() method of the user_xp shows
#that the status column as an object type. Convert the status column to a categorical variable.

print(user_xp.info(), '\n')

#<class 'pandas.core.frame.DataFrame'>
#RangeIndex: 200 entries, 0 to 199
#Data columns (total 3 columns):
#user_id    200 non-null int64
#xp         200 non-null int64
#status     200 non-null object
#dtypes: int64(2), object(1)
#memory usage: 4.8+ KB

#Complete the code to return the output

user_xp['status'] = user_xp['status'].astype('category')

print(user_xp.info())

#Expected Output

#<class 'pandas.core.frame.DataFrame'>
#RangeIndex: 200 entries, 0 to 199
#Data columns (total 3 columns):
#user_id    200 non-null int64
#xp         200 non-null int64
#status     200 non-null category
#dtypes: category(1), int64(2)
#memory usage: 3.6 KB
#None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  5 non-null      int64
 1   xp       5 non-null      int64
 2   status   5 non-null      object
dtypes: int64(2), object(1)
memory usage: 160.0+ bytes
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  5 non-null      int64
 1   xp       5 non-null      int64
 2   status   5 non-null      category
dtypes: category(1), int64(2)
memory usage: 329.0 bytes
None

In [20]:
#You have been giving a dataset by a colleague who prefers to work with MATLAB. Being a Pythonista, you would like to import the
#data as a Python dictionary.

#Complete the code to return the output

import scipy.io
import numpy as np

file_name = 'datasets/file.mat'

annotations = scipy.io.loadmat(file_name)
print(annotations["__header__"])

b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Tue Nov 24 17:35:19 2015'

In [21]:
import pandas as pd
plants2 = pd.read_csv('datasets/plants2.csv')

#Convert the names of the plants in the name column of the plants DataFrame from uppercase to lowercase.

print(plants2, '\n')

#Complete the code to return the output

import pandas as pd

plants2['name'] = plants2['name'].str.lower()
print(plants2.head())

       name       binomial name  sales price
0   ALFREDO  Monstera Deliciosa        24.95
1  ISABELLA  Calathea Orbifolia        28.95
2     MARTY               Areca        44.95
3     OLLIE    Alocasia Zebrina        29.95
4    HOWERD          Kentiapalm        49.95

       name       binomial name  sales price
0   alfredo  Monstera Deliciosa        24.95
1  isabella  Calathea Orbifolia        28.95
2     marty               Areca        44.95
3     ollie    Alocasia Zebrina        29.95
4    howerd          Kentiapalm        49.95

In [22]:
import pandas as pd
score = pd.read_csv('datasets/score.csv')

#Consider the Pandas DataFrame score below. Drop the rows where all values are NaN.

print(score, '\n')

#Complete the code to return the output

print(score.dropna(how = 'all'))

      id  math  physics
0  101.0  90.0     88.0
1  102.0   NaN     89.0
2    NaN   NaN      NaN

      id  math  physics
0  101.0  90.0     88.0
1  102.0   NaN     89.0

In [23]:
#Consider the Pandas Series s below:

s = pd.Series(['red', 'blue', 'red'])
print(s, '\n')

#Complete the code to return the output

import pandas as pd

print(s.str.startswith('re'))

0     red
1    blue
2     red
dtype: object

0     True
1    False
2     True
dtype: bool

In [24]:
#An extract from the train.xlsx Excel file is shown below. While importing the Excel file, override the column names to id, seq,
#from, and to.

#Complete the code to return the output

import pandas as pd

filename = "datasets/train.xlsx"

df = pd.read_excel(filename, names=['id', 'seq', 'from', 'to'])
print(df.head())

     id  seq         from           to
0  1107    1      Hoboken      Hoboken
1  1107    2      Hoboken  Secaucus L1
2  1107    3  Secaucus L1    Kingsland

In [25]:
file_name = 'datasets/wine_sales.csv'

#Below is a preview of the wine_sales.csv data set. Import only the first 6 rows of the data.

#Complete the code to return the output

import pandas as pd

wine = pd.read_csv(file_name, nrows=6)

print(wine)

   id         style   type    country  price  rating   number_sold
0  65        malbec    red  argentina  19.04     4.2            22
1  31     alvarinho  white   portugal  18.99     4.2            13
2  69      riesling  white    germany  16.95     4.0             6
3  97    pinot noir    red    germany    NaN     4.0            17
4  68     primitivo    red      italy  17.99     4.2            19
5  76  valpolicella    red      italy  19.39     4.2             6

In [26]:
#Load the pickled file data.pkl using pandas, then check what type of object was pickled.

#Complete the code to return the output

import pandas as pd

x = pd.read_pickle('datasets/data.pkl')
print(type(x))

<class 'dict'>

In [27]:
file_name = 'datasets/wine_sales.csv'

#Below is a preview of the wine_sales.csv data set. For your analysis you only need the columns style, type and price. Import
#the data, reading only these three columns.

#Complete the code to return the output

import pandas as pd

cols= ['style', 'type', 'price']

wine= pd.read_csv(file_name, usecols=cols)

print(wine.head())

        style   type  price
0      malbec    red  19.04
1   alvarinho  white  18.99
2    riesling  white  16.95
3  pinot noir    red    NaN
4   primitivo    red  17.99

In [28]:
#An online games platform would like to assign a special status to their users based on the number of experience points (xp)
#that users have. The user_xp DataFrame contains the user_ids and xp per user. Use Pandas method to create a new status column
#that indicates a user's special status. The bins and labels have been defined for you based on the xp status table.

#-- xp status
#[0 - 125 000)        Bronze
#[125 000 - 250 000)  Silver
#[250 000 - 375 000)  Gold
#[375 000 - 500 000)  Platinum
#[500 000 - inf)      Diamond

#Complete the code to return the output

import pandas as pd

bins = [0, 125000, 250000, 375000, 500000, float('inf')]
labels = ["bronze", "silver", "gold", "platinum", "diamond"]

user_xp['status'] = pd.cut(user_xp['xp'], bins=bins, labels=labels)

print(user_xp.head())

   user_id      xp    status
0  1520965  292382      gold
1  1577585   45308    bronze
2   706833  493393  platinum
3  1303891  342382      gold
4   650641  127259    silver

In [29]:
#The 2Weels Bicycle Shop stores their sales data and inventory in one Excel sheet. Import the inventory data located in the
#table starting at cell F2 into a pandas DataFrame.

#Complete the code to return the output

import pandas as pd

filename = "datasets/bicycle_shop_sales.xlsx"

inventory = pd.read_excel(filename, skiprows = 1, usecols = "F:H")
print(inventory.head())

       Product.1   Cost  Inventory
0   Bicycle Lock  24.95        4.0
1   Bicycle Pump  39.95        5.0
2       MTB Tube   8.00       20.0
3      Road Tube   6.00       25.0
4  Bicycle Light   4.95        8.0

In [30]:
#The data airquality.csv is shown below. The headers have not been included in the data. Import the data adding the headers Day,
#Ozone, Temp and Wind, which have been added to a list for you.


#Complete the code to return the output

import pandas as pd

cols= ['Day', 'Ozone', 'Temp', 'Wind']

air= pd.read_csv("datasets/airquality.csv", names=cols)

print(air)

   Day  Ozone  Temp  Wind
0    1     41    67   7.4
1    2     36    72   8.0
2    3     12    74  12.6
3    4     18    62  11.5
4    5     23    65   8.6

In [31]:
#Consider the file data.csv and its contents below. Import it as a numpy array.

#Complete the code to return the output

import numpy as np

data = np.genfromtxt("datasets/data2.csv", delimiter=',', dtype=None, skip_header=1)

print(data)

[(b'A', 17800) (b'B',  2800) (b'C',  3500) (b'D',  1450)]

D:\Users\ASUS\anaconda3\lib\site-packages\ipykernel_launcher.py:7: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  import sys

In [32]:
import pandas as pd
tennis = pd.read_csv('datasets/tennis.csv')

#Consider the Pandas DataFrame tennis below. Combine the first_name and last_name columns into a single column name, and add it
#to to df.

print(tennis, '\n')
df = tennis

#Complete the code to return the output

df['name'] = df['first_name'].str.cat(df['last_name'], sep = ' ')
print(df)

  first_name last_name
0      Roger   Federer
1     Rafael     Nadal
2      Novak  Djokovic

  first_name last_name            name
0      Roger   Federer   Roger Federer
1     Rafael     Nadal    Rafael Nadal
2      Novak  Djokovic  Novak Djokovic

In [33]:
#Represent the datetime object date_of_birth as a character string, in the format MMM DD YYYY. The representation of this format
#has been provided for you as fmt.

#Complete the code to return the output

from datetime import date

date_of_birth = date(1986, 12, 9)

fmt = '%b %d %Y'

print(date_of_birth.strftime(fmt))

Dec 09 1986

In [34]:
import pandas as pd
wine = pd.read_csv('datasets/wine.csv')

#The wine data contains information on wines sold in two different stores. Some of the wines are sold in both stores, so have
#been duplicated in the data. Identify the rows where values in all columns are duplicated.

print(wine, '\n')

#Complete the code to return the output

duplicated_rows= wine.duplicated()

print(duplicated_rows)

          style   type    country  price  rating
0        malbec    red  argentina  19.04     4.2
1        malbec    red  argentina  18.49     4.2
2     alvarinho  white   portugal  18.99     4.2
3      riesling  white    germany  16.95     4.0
4  valpolicella    red      italy  17.99     4.2
5  valpolicella    red      italy  17.99     4.2

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [35]:
import pandas as pd
df = pd.read_csv('datasets/df.csv')

#Consider the Pandas DataFrame df below.

print(df, '\n')

#Complete the code to return the output

print(df.pivot_table(index = "country", columns = "year", values = "bmi"))

        bmi      country   year
0  21.48678  Afghanistan  Y1980
1  25.22533      Albania  Y1980
2  21.46552  Afghanistan  Y1981
3  25.23981      Albania  Y1981

year            Y1980     Y1981
country
Afghanistan  21.48678  21.46552
Albania      25.22533  25.23981

In [36]:
import pandas as pd
df3 = pd.read_csv('datasets/df3.csv')
df4 = pd.read_csv('datasets/df4.csv')

#Combine the following DataFrames df1 and df2 :

print(df3, '\n')
print(df3, '\n')

#Complete the code to return the output

print(pd.concat([df3, df4], axis=0))

      ingredient quantity
0         butter    125 g
1          cream    1 cup
2  caramel treat    360 g

      ingredient quantity
0         butter    125 g
1          cream    1 cup
2  caramel treat    360 g

                   ingredient quantity
0                      butter    125 g
1                       cream    1 cup
2               caramel treat    360 g
0             tennis biscuits    125 g
1  peppermint crisp chocolate    1 cup

In [37]:
#The file LIGO_data.hdf5 is in the current directory. Load it as an HDF5 object using the h5py package.

#Complete the code to return the output

import numpy as np
import h5py

hf = h5py.File('datasets/LIGO_data.hdf5', 'r')
print(hf)

<HDF5 file "LIGO_data.hdf5" (mode r)>

In [38]:
#An extract from the train.xlsx Excel file is shown below. While importing the Excel file, skip the 2nd row.

#Complete the code to return the output

import pandas as pd

filename = "datasets/train.xlsx"

df = pd.read_excel(filename, skiprows = [1])
print(df.head())

   train_id  stop_sequence         from           to
0      1107              2      Hoboken  Secaucus L1
1      1107              3  Secaucus L1    Kingsland

In [39]:
import pandas as pd
sales = pd.read_csv('datasets/sales.csv')
sales['date'] = pd.to_datetime(sales['date'], format="%Y/%m/%d")
sales['last_report'] = pd.to_datetime(sales['last_report'], format="%Y/%m/%d")

#The sales DataFrame, previewed below, shows the number of items sold on a number of individual dates along with the date of the
#last report. Add a new column to the data, diff, that gives the gap between reporting times.

print(sales, '\n')

#Complete the code to return the output

sales['diff'] = sales['date'] - sales['last_report']

print(sales.head())

        date  items_sold last_report
0 2019-10-06          26         NaT
1 2019-10-15          12  2019-10-06
2 2019-10-24          82  2019-10-15
3 2019-10-30           6  2019-10-24
4 2019-11-05         101  2019-10-30

        date  items_sold last_report   diff
0 2019-10-06          26         NaT    NaT
1 2019-10-15          12  2019-10-06 9 days
2 2019-10-24          82  2019-10-15 9 days
3 2019-10-30           6  2019-10-24 6 days
4 2019-11-05         101  2019-10-30 6 days

In [40]:
import numpy as np
import pandas as pd

data = pd.Series([1, 2, np.nan, 4, np.nan])
print(data.fillna(method = "ffill"))

0    1.0
1    2.0
2    2.0
3    4.0
4    4.0
dtype: float64

In [41]:
import pandas as pd
wine1 = pd.read_csv('datasets/wine1.csv', index_col='style')

#The wine data, previewed below, has been imported for you. There are missing values in multiple columns, but you have decided
#that you only need to replace missing rating values. You have decided that they should be replaced by the average of all other
#ratings.

print(wine1, '\n')

#Complete the code to return the output

rating_mean= wine1['rating'].mean()

wine_imputed= wine1.fillna({'rating': rating_mean})

print(wine_imputed)

                     type    country  price  rating
style
alvarinho           white   portugal  18.99     4.2
blanc de blanc  sparkling     france    NaN     3.8
cabernet              red  argentina  14.90     4.0
gavi                white      italy  13.56     NaN
malbec                red  argentina  19.04     4.2

                     type    country  price  rating
style
alvarinho           white   portugal  18.99    4.20
blanc de blanc  sparkling     france    NaN    3.80
cabernet              red  argentina  14.90    4.00
gavi                white      italy  13.56    4.05
malbec                red  argentina  19.04    4.20

In [42]:
#The wine data has been imported for you. You want to perform some analysis of this data, but have established that wines with
#no price listed are not of importance and should be removed from the data. Remove rows where there are missing values only in
#the price column.

#Complete the code to return the output

wine_with_price= wine1.dropna(subset= ['price'])

print(wine_with_price)

            type    country  price  rating
style
alvarinho  white   portugal  18.99     4.2
cabernet     red  argentina  14.90     4.0
gavi       white      italy  13.56     NaN
malbec       red  argentina  19.04     4.2

In [43]:
import pandas as pd
df5 = pd.read_csv('datasets/df5.csv')
df6 = pd.read_csv('datasets/df6.csv')

#df1 contains the names of a employees, the team to which the belong and their hiring date. Add the name of each employee's team
#lead by combining df1 and df2.

print(df5, '\n')
print(df6, '\n')

#Complete the code to return the output

print(pd.merge(df5, df6))

  employee         team  hire_date
0    James   Accounting       2018
1     Mary  Engineering       2019
2    Kevin  Engineering       2019
3    Linda           HR       2020

          team team_lead
0   Accounting     Karen
1  Engineering    George
2           HR   Michael

  employee         team  hire_date team_lead
0    James   Accounting       2018     Karen
1     Mary  Engineering       2019    George
2    Kevin  Engineering       2019    George
3    Linda           HR       2020   Michael

In [44]:
import pandas as pd
times = pd.read_csv('datasets/times.csv')

#You have been asked to produce a summary graphic of the race times of an athlete. The data is stored in the data frame times,
#but some values are missing as the athlete did not race that day. The experts have told you to replace these times with the
#time from the race before it. The data is already arranged by date.

print(times, '\n')

#Complete the code to return the output

import pandas as pd

times_no_missing = times.fillna(method = "ffill")

print(times_no_missing.head(n = 4))

         date   val
0  2020-03-28  25.5
1  2020-04-30  24.2
2  2020-05-31   NaN
3  2020-06-29  24.9

         date   val
0  2020-03-28  25.5
1  2020-04-30  24.2
2  2020-05-31  24.2
3  2020-06-29  24.9